docs/blocks.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT blocklist (block)*>

<!ELEMENT block (attribute*)>
<!ATTLIST block
	name CDATA #REQUIRED
>

<!ELEMENT attribute (values?)>
<!ATTLIST attribute
	name CDATA #REQUIRED
	label CDATA #IMPLIED
	type CDATA #REQUIRED
>

<!ELEMENT values (value+)>

<!ELEMENT value (#PCDATA)>
