docs/page_list.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT pagelist (category+)>

<!ELEMENT category (link+)>
<!ATTLIST category
    name CDATA #REQUIRED
>

<!ELEMENT link EMPTY>
<!ATTLIST link
    label CDATA #REQUIRED
    hide CDATA #IMPLIED
    acl CDATA #IMPLIED
    module CDATA #IMPLIED
	url CDATA #IMPLIED
	target CDATA #IMPLIED
>
